<div class="container">
  <form class="form" [formGroup]="form" *ngIf="loaded">
    <label class="page-title">Rejestracja użytkownika</label>
    <div class="form-group">
      <label>Login</label>
      <input appValidationInfo [errors]="form.controls['login'].errors" [input]="form.controls['login']"
             class="form-control" formControlName="login">
    </div>
    <div class="form-group">
      <label>Imię</label>
      <input appValidationInfo [errors]="form.controls['name'].errors" [input]="form.controls['name']"
             class="form-control" formControlName="name">
    </div>
    <div class="form-group">
      <label>Nazwisko</label>
      <input appValidationInfo [errors]="form.controls['lastName'].errors" [input]="form.controls['lastName']"
             class="form-control" formControlName="lastName">
    </div>
    <div class="form-group" *ngIf="!(!!id)">
      <label>Hasło</label>
      <input appValidationInfo [errors]="form.errors ? form.errors : form.controls['password'].errors"
             [input]="form.controls['password']"
             class="form-control" formControlName="password">
    </div>
    <div class="form-group" *ngIf="!(!!id)">
      <label>Powtórz hasło</label>
      <input appValidationInfo [errors]="form.errors ? form.errors : form.controls['confirmPassword'].errors"
             class="form-control" formControlName="confirmPassword">
    </div>
    <div class="form-group">
      <label>Rola użytkownika</label>
      <ng-select [items]="roles" formControlName="role"
                 bindLabel="name" bindValue="id" [clearable]="false"></ng-select>
    </div>
    <div class="form-group text-right">
      <button [disabled]="!form.valid" class="btn btn-success" (click)="addUser()">{{!!!id ? 'Dodaj' : 'Edytuj'}}</button>
    </div>
  </form>
</div>
