<div class="row main-content">
  <div class="col col-6 points">
    <div class="row justify-content-center">{{article.votes}}</div>
    <div class="row justify-content-center">punkty</div>
  </div>
  <div class="col col-6 title">
    <div class="row">
      <span class="w-100" (click)="goToUrl()">{{article.title}}</span>
      <span class="w-100">({{article.domain()}})</span>
    </div>
    <div class="row">
      <div class="col col-6">
        <i class="fa fa-plus-circle" (click)="voteUp()"></i>
      </div>
      <div class="col col-6">
        <i class="fa fa-minus-circle" (click)="voteDown()"></i>
      </div>
    </div>
  </div>
</div>
