input {
  font-family: 'FontAwesome';
}

form {
  border-radius: 10px;
  background: #ca0f0f;
  top: 30%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 30%;
  right: 30%;
  padding: 50px;
  border: 1px solid #d2d2d2;
  box-shadow: 1px 1px 1px 1px #949494;
}
