<div class="container">
  <form class="form" [formGroup]="form">
    <div class="form-group">
      <input class="form-control" formControlName="login" placeholder="&#xf007; Login">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="password" placeholder="&#xf023; Hasło">
    </div>
    <div class="form-group text-right">
      <button class="btn app-btn" (click)="login()">Zaloguj</button>
    </div>
    <button class="btn app-btn-revert" [routerLink]="['../registration']">Rejestracja</button>
  </form>
</div>
