.content {
  padding: 10px;
  background: white;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2px;
}

.seller-name {
  position: absolute;
  right: 20px;
  width: 50%;
  text-align: right;
}
