<div class="row w-100 content">
  <div class="col col-8">
    <app-product [product]="product"></app-product>
  </div>
  <div *ngIf="roleService.isUser" class="col col-4 text-center align-self-center">
    <button *ngIf="!isBasket" (click)="addToBasket(product)" class="btn btn-info">Do koszyka</button>
    <button *ngIf="isBasket" (click)="removeFromBasket(product)" class="btn btn-info">Usuń z koszyka</button>
  </div>
  <div *ngIf="roleService.isSeller" class="col col-4 text-center align-self-center">
    <button class="btn btn-secondary" [routerLink]="['edit', product.id]">Edytuj</button>
    <button class="btn btn-danger ml-3" (click)="deleteProduct(product)">Usuń</button>
  </div>
</div>
