/* You can add global styles to this file, and also import other style files */
body {
  background: aliceblue;
}

.font-ico {
  font-family: 'FontAwesome';
}

app-product-list {
  width: 100%;
  overflow: auto;
}
