/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background: aliceblue;
}

.font-ico {
  font-family: 'FontAwesome';
}

app-product-list, app-add-product {
  width: 100%;
  overflow: auto;
}

app-basket {
  width: 100%;
  position: relative;
}

app-basket {
  background: white;
}
