/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background: black;
}

.font-ico {
  font-family: 'FontAwesome';
}

app-product-list, app-add-product {
  width: 100%;
  overflow: auto;
}

app-basket {
  width: 100%;
  position: relative;
}

app-basket {
  background: white;
}

.test {
	color: red;
}

.input-wrapper {
  div {
    border: 2px solid red;

    span {
      background: red;
      color: white;
      float: right;
      font-size: 12px;
      padding: 0 5px 2px 5px;
    }
  }
}

.app-btn {
  color: white !important;
  background: #b90000 !important;
  border: 1px solid white;
  box-shadow: 1px 2px 2px 1px black;
  font-weight: bold;
}

.app-btn-revert {
  background: white !important;
  color: #b90000 !important;
  border: 2px solid #b90000;
  box-shadow: 1px 2px 2px 1px black;
  font-weight: bold;

}

.app-btn:focus, .app-btn:active, .app-btn-revert:focus, .app-btn-revert:active {
  outline: none !important;
  box-shadow: 1px 2px 2px 1px black;
  -webkit-box-shadow: 1px 2px 2px 1px black;;
}

.no-active {
  pointer-events: none;
  opacity: 0.3;
}

